@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.banner {
  height: 384px;
  background-image: url('/assets/img/home-banner/banner-mobile@2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet-min {
    background-image: url('/assets/img/home-banner/banner-mobile@3x.jpg');
    height: 548px;
  }

  @include tablet-min-portrait {
    background-image: url('/assets/img/home-banner/banner.jpg');
  }

  @include desktop-wide-min {
    background-image: url('/assets/img/home-banner/banner@2x.jpg');
  }

  @include desktop-wide-min-2k {
    background-image: url('/assets/img/home-banner/banner@3x.jpg');
  }
}

.banner-content {
  padding-top: 85px;
  transition: all .15s ease-in-out;

  @include tablet-min {
    padding-top: 116px;
  }
}

.header-wrapper {
  width: 225px;
  margin-bottom: 70px;

  @include tablet-min-portrait {
    width: 463px;
  }
}

h1 {
  @include h1();

  @include tablet-min-portrait {
    @include h1-desktop();
  }
}

button {
  width: 222px;
  max-height: 60px;
  font-size: 17px;
  font-family: 'Calibre-Bold';
  font-weight: bold;
  color: $white;
  background-color: #ee8e64;
  border-radius: 30px;
  padding: 15px 20px 12px 32px;

  img {
    margin-left: 20px;
  }
}
