<section class="services tend-content-container" id="services">
  <h2>Our Services</h2>
  <div class="sub">
    We have the full range of in-home services that will keep you comfortable and safe at home.
  </div>

  <mat-tab-group>
    <mat-tab *ngFor="let tendService of tendServises">
      <ng-template mat-tab-label>
        <img [src]="tendService.iconPath" />
      </ng-template>
      <h3>{{ tendService.title }}</h3>
      <p>{{ tendService.content }}</p>
    </mat-tab>
  </mat-tab-group>
</section>
