@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.services {
  margin-bottom: 20px;

  @include tablet-min-portrait {
    margin-bottom: 100px;
  }
}

h2 {
  @include h2();
  text-align: center;

  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

.sub {
  @include sub();
  max-width: 498px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;

  @include tablet-min-portrait {
    @include sub-desktop();
  }
}

img {
  height: 46px;
}

h3 {
  @include h3();
  margin: 1.5em 0 0;

  @include tablet-min-portrait {
    @include h3-desktop();
  }
}

p {
  @include sub();

  @include tablet-min-portrait {
    @include sub-desktop();
  }
}
