<section class="services" id="services">
    <div class="h4">Our Services</div>
    <div class="sub">
        We have the full range of in-home services that will keep you comfortable and safe at home. 
    </div>

    <mat-tab-group class="s-list">
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="/assets/img/services/s-01.svg" />
          </ng-template>
          <h4>
            Allied Health and Nursing
          </h4>
          <p>
            In accordance with your care plan, we will introduce you with the top health professionals including;  nurses, continence nurses, palliative care nurses, dementia specialists, physiotherapists, occupational therapists, dieticians, podiatrists, behaviour specialists, dentists, optometrists, and exercise physiologists. 
          </p>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="/assets/img/services/s-02.svg" />
          </ng-template>
          <h4>
            Carer Support
          </h4>
          <p>
            Carers of loved ones also need a break to re-energise and focus on themselves. Do so with the comfort of knowing that your loved one is in good hands.
          </p>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="/assets/img/services/s-03.svg" />
          </ng-template>
          <h4>
            Domestic Assistance
          </h4>
          <p>
            Getting help with everyday tasks like cleaning, washing, ironing and vacuuming will not only make life so much easier - it will help to maintain a high level of hygiene in the home. Just a few hours a week can make all the difference to living at home longer. 
          </p>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-04.svg" />
            </ng-template>
            <h4>
                Gardening and Home Maintenance
            </h4>
              <p>
                 Getting help with the more strenuous chores like mowing the lawn, weeding the garden or odd jobs around the house are usually the point of entry for seniors into home care. 
              </p>
        </mat-tab>
        
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-05.svg" />
            </ng-template>
            <h4>
                Equipment & Home modifications
            </h4>
            <p>
                You home care package funds can be used to purchase a wide range of goods that will help you be safe and comfortable at home. From continence aids to mobility aids to kitchen and bathroom modifications, we know how to best use your funds to get what you need. 
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-06.svg" />
            </ng-template>
            <h4>
                Companionship
            </h4>
            <p>
                We are social beings who thrive on positive interactions and experiences together. Simple activities such as board games, crosswords or just having a cup of tea will all be more enjoyable in the company of someone else.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-07.svg" />
            </ng-template>
            <h4>
                Shopping and Transport
            </h4>
            <p>
                Maintaining one’s independence outside the home is a must for many seniors. Step out confidently and enjoy transport assistance and companionship to the shops, meetings, community gatherings or just appointments. 
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-08.svg" />
            </ng-template>
            <h4>
                Day Trips
              </h4>
              <p>
                Whether you are planning to visit family on the other side of the city or would like to spend the day fishing, carers can support you to get out of the house and have a change of scenery. 
              </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <img src="/assets/img/services/s-09.svg" />
            </ng-template>
            <h4>
                Personal Care
            </h4>
            <p>
                Day-to-day activities like showering and dressing can sometimes become so exhausting, they fall into neglect. This is where personal care services step in and maintain your hygiene and help feel the best version of yourself.
            </p>
        </mat-tab>
      </mat-tab-group>
</section>
