@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.services {
    margin: 0 215px;
    @include mobile-only {
        margin: 0;
    }

    .h4 {
        margin-top: 197px;

        @include h4();
        @include mobile-only {
            margin: 0 30px;
            margin-top: 40px;
            font-size: 45px;
        }
    }

    .sub {
        width: 498px;
        margin-top: 16px;

        @include sub();

        margin-bottom: 40px;
        @include mobile-only {
            width: unset;
            margin: 0 30px;
            margin-bottom: 40px;
            font-size: 17px;
            line-height: 25px;
        }
    }

    .s-list {
        margin-bottom: 100px;
        @include mobile-only {
            margin-bottom: 20px;
        }
    }
    h4 {
        @include sub();

        color: $color_h;
        font-family: 'Calibre-Bold';
        font-weight: bold;

        @include mobile-only {
            margin: 30px 30px 0 30px;
            font-size: 17px;
            line-height: 25px;
        }
    }
    p {
        font-family: 'Calibre-Regular';

        @include sub();
        @include mobile-only {
            margin: 0 30px;
            font-size: 17px;
            line-height: 25px;
        }
    }

    ::ng-deep .mat-tab-label {
        padding: 0 20px;
        min-width: 100px;
    }

    img {
        height: 46px;
    }

    ::ng-deep .mat-tab-header {
        border-bottom: 0;
    }

    ::ng-deep .mat-ink-bar {
        background-color: $orange;
    }
}