@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.blog {
  margin-bottom: 20px;
  @include tablet-min-portrait {
    margin-bottom: 40px;
  }
}

h1 {
  @include h1();
  color: $color_h;
  margin: 40px 0 20px;

  @include tablet-min-portrait {
    @include h1-desktop();
    margin: 50px 0;
  }
}
