@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.top-navigation {
  display: flex;
  align-items: center;
  background-color: $white;
  height: 80px;
  padding: 0 30px 0;
  margin: 0 auto;
  @include desktop-min {
    height: 100px;
    padding: 0 45px;
    max-width: 1400px;
  }
}

.logo {
  max-width: 100px;
  display: inline-block;
  @include desktop-min {
    max-width: 120px;
  }

  a {
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 700px;
  @include tablet-max-landscape {
    display: none;
  }

  a {
    font-family: 'Calibre-Regular';
    font-size: 19px;
    font-weight: 500;
    color: $color_text;
    text-decoration: none;
    padding-right: 26px;
    transition: color .15s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

.phone-wrapper {
  display: flex;
  align-items: center;
  width: 245px;
  @include tablet-max-landscape {
    display: none;
  }

  img {
    margin-right: 10px;
  }

  .phone {
    display: inline-block;
    color: $color_text;
    font-size: 24px;
  }
}

.btn-contact {
  background-color: $primary;
  color: $white;
  font-weight: bold;
  border-radius: 30px;
  padding: 12px 40px;

  @include tablet-max-landscape {
    display: none;
  }
}

.m-menu {
  cursor: pointer;
  margin-left: auto;
  @include desktop-min {
    display: none;
  }
}
