@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.blog {
    margin: 0 215px;
    @include mobile-only {
        margin: 0 30px;
    }

    .h4 {
        text-align: center;
        margin-top: 197px;

        @include h4();
        @include mobile-only {
            font-size: 45px;
            margin-top: 20px;
        }
    }

    .for-btn {
        text-align: center;
        button {
            font-size: 17px;
            font-weight: bold;
            color: $white;
            background-color: $orange;
            border-radius: 30px;
            padding: 12px 40px;
            @include mobile-only {
                width: 100%;
            }
        }
    }
    .h3 {
        @include h3();
        @include mobile-only {
            font-size: 23px;
            line-height: 24px;
        }
    }
    .created {
        @include sub();

        color: $orange;
        @include mobile-only {
            font-size: 17px;
            line-height: 25px;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 70px;
        grid-auto-rows: auto;

        margin-top: 40px;
        margin-bottom: 40px;
        @include mobile-only {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 10px;
        }

        img {
            width: 270px;
            height: 145px;
            @include mobile-only {
                width: 260px;
                height: 140px;
            }
        }
    }
}