<section class="blog">

    <div class="h4">Our Writings</div>

    <div class="wrapper">
        <div class="col-{{ i+1 }}" *ngFor="let post of posts; index as i">
            <img *ngIf="post.image" src="{{ beUrl }}{{ post.image }}" alt="" width="270" height="145">

            <div class="h3">{{ post.title }}</div>

            <div class="created">
                {{ post.created | date }}
            </div>
        </div>
    </div>

    <div class="for-btn">
        <button routerLink="/blog" class="btn-contact" mat-flat-button>Go to blog</button>
    </div>
</section>
