<section class="tend-content-container blog">

  <h2>Our Writings</h2>

  <div class="wrapper">
    <div *ngFor="let blog of blogs">
      <a [routerLink]="['/blog', blog.id]" class="blog-element">
        <img *ngIf="blog.image" src="http:{{ blog.thumbnail }}" [alt]="blog.title">
        <h3>{{ blog.title }}</h3>
        <div class="blog-date">{{ blog.created | date }}</div>
      </a>
    </div>
  </div>

  <div class="block-btn">
    <button routerLink="/blog" class="btn-contact orange-hover" mat-flat-button>Go to blog</button>
  </div>
</section>
