@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.plans {
  margin: 0 215px;
  @include mobile-only {
    margin: 0 30px 40px;
  }
}

h4 {
  margin-top: 50px;
  margin-bottom: 10px;
  @include h4();
  @include mobile-only {
    font-size: 45px;
  }
}

.section-subheader {
  margin-bottom: 5px;
  font-family: "Calibre-Bold";
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #414570;
}

.header-content {
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: #414570;
}

.plans-header {
  text-align: center;
  margin-bottom: 30px;
}

.plan-card {
  border-radius: 30px;
  border: solid 1px #f0f0f5;
  margin-bottom: 20px;
}

.card-header {
  padding: 15px 30px;
  border-bottom: 1px solid #f0f0f5;
  @include desktop {
    padding: 30px 30px 15px;
  }

  .description {
    font-family: "Calibre-Regular";
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #414570;
    @include desktop {
      display: none;
    }
  }
}

h3 {
  @include h3();
  margin: 0;
  display: flex;
  align-items: center;
  @include mobile-only {
      font-size: 23px;
      line-height: 30px;
  }
}

.card-header-label {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 15px 20px 0 rgba(238, 142, 100, 0.23);
  background-color: #ee8e64;
  margin-left: 10px;
  padding: 9px 15px 5px;
  font-family: "Calibre-Bold";
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 17px;
}

.card-point {
  margin-bottom: 20px;
}

.card-body {
  padding: 20px 30px 25px;
}

.point-description {
  @include desktop {
    display: none;
  }
}

.point-description-title,
.card-point-content {
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: #414570;
}

.point-description-content {
  margin-bottom: 5px;
  opacity: 0.5;
  font-family: "Calibre-Regular";
  font-size: 15px;
  line-height: 1.33;
  color: #414570;
}

.card-point-content {
  margin-left: 28px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -28px;
    top: 0;
    border-radius: 50%;
    box-shadow: 0 11px 14px 0 rgba(238, 142, 100, 0.23);
    background-color: #ee8e64;
    background-image: url("/assets/img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .card-point-content-clarification {
    margin: 0;
    opacity: 0.5;
    font-family: "Calibre-Regular";
    font-size: 15px;
    line-height: 1.33;
    color: #414570;
  }
}

.percentage {
  font-family: "Calibre-Bold";
  max-height: 60px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #36384f;

  span {
    font-size: 30px;
    color: #b4b6c5;
    margin-left: -5px;
  }
}
.for-btn {
  text-align: center;
}

button {
  font-size: 17px;
  font-weight: bold;
  font-family: "Calibre-Bold";
  color: $white;
  background-color: $primary;
  border-radius: 30px;
  padding: 15px 40px 9px;
}


.plans-footer {
  position: relative;
  margin-top: 50px;
  padding: 0 30px 30px;
  border-radius: 30px;
  border: solid 1px #f0f0f5;
  text-align: center;
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: #414570;

  img {
    margin: 0 auto;
    position: relative;
    top: -30px;
    margin-bottom: -50px;
  }
}
