@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.plans {
    margin: 0 215px;
    text-align: center;
    @include mobile-only {
        margin: 0 30px;
    }

    .h4 {
        margin-top: 50px;

        @include h4();
        @include mobile-only {
            margin-top: 20px;
            font-size: 45px;
        }
    }

    .plan-footer, .sub {
        width: 765px;
        margin-top: 16px;
        margin-left: 115px;

        @include sub();

        margin-bottom: 40px;
        @include mobile-only {
            width: unset;
            margin-left: 0;
            font-size: 17px;
            line-height: 25px;
        }
    }
    button {
        font-size: 17px;
        font-weight: bold;
        color: $white;
        background-color: $primary;
        border-radius: 30px;
        padding: 12px 40px;
        @include mobile-only {
            padding: 12px 30px;
        }
    }
    .points {
        height: 450px;

        .point {
            width: 300px;
            padding-left: 45px;
            margin-left: 20px;
            margin-top: 20px;
            padding-bottom: 10px;
            text-align: left;

            background-image: url('/assets/img/point-check.png');
            background-position-y: 0;
            background-position-x: 0;
            background-repeat: no-repeat;
            background-size: 30px;
            @include mobile-only {
                width: unset;
                margin-left: 0;
            }
        }
    }

    .plan-footer {
        margin-top: 60px;
        @include mobile-only {
            margin: 0 30px;
            margin-top: 40px;
        }
    }
    .plan-price {
        padding: 0 40px 40px 40px;

        font-family: 'Calibre-Regular';
        @include sub();

        @include mobile-only {
            padding: 0 30px 30px 30px;
            font-size: 17px;
            line-height: 25px;
        }
    }
    .card-plan {
        border-radius: 30px;
        border: solid 1px #f0f0f5;

    }

    img {
        position: relative;
        bottom: -76px;
    }

    h3 {
        @include h3();
        text-align: center;

        @include mobile-only {
            font-size: 23px;
            line-height: 30px;
        }
    }
    h4 {
        margin: 0;
        @include sub();

        font-family: 'Calibre-Bold';
        color: $color_h;
        font-weight: bold;

        @include mobile-only {
            color: $color_text;
            font-size: 17px;
            line-height: 25px;
        }
    }
    .percent {
        @include h1();

        text-align: center;

        span {
            font-size: 30px;
            color: #b4b6c5;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        grid-auto-rows: auto;
        @include mobile-only {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }
}
