@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.plans {
  margin-bottom: 40px;
}

h2 {
  @include h2();
  margin-bottom: 10px;

  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

.section-subheader {
  @include h3();
  margin-bottom: 5px;
  color: $color_text;

  @include tablet-min-portrait {
    @include h3-desktop();
  }
}

.header-content {
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: $color_text;
  @include tablet-min-portrait {
    font-size: 23px;
    line-height: 1.3;
    max-width: 770px;
    margin: 0 auto;
  }
}

.plans-header {
  text-align: center;
  margin-bottom: 30px;
  @include tablet-min-portrait {
    margin-bottom: 40px;
  }
}

.plans-wrapper {
  @include tablet-min-portrait {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

.desktop-only {
  @include tablet-max-portrait {
    display: none;
  }
}

.mobile-only {
  @include tablet-min-portrait {
    display: none;
  }
}

.desktop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: auto;
}

.card-header {
  position: relative;
  padding: 15px 30px 35px;
  border: 1px solid $border_light;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  @include tablet-min-portrait {
    padding: 30px 30px 45px;
  }

  .card-header-devider {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $border_light;
    bottom: 20px;
    left: 0;
  }

  .description {
    font-family: "Calibre-Regular";
    font-size: 17px;
    line-height: 1.47;
    color: $color_text;
    @include tablet-min-portrait {
      font-size: 23px;
      line-height: 1.3;
    }
  }
}

h3 {
  @include h3();
  font-size: 23px;
  display: flex;
  align-items: center;
  @include tablet-min-portrait {
    font-size: 33px;
  }
}

.card-header-label {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 15px 20px 0 rgba(238, 142, 100, 0.23);
  background-color: $orange;
  margin-left: 10px;
  padding: 9px 15px 5px;
  font-family: "Calibre-Bold";
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: $white;
  line-height: 17px;
}

.card-point {
  padding: 0 30px 20px;
  border-left: solid 1px $border_light;
  border-right: solid 1px $border_light;
}

.point-description-title,
.card-point-content {
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: $color_text;
  @include tablet-min-portrait {
    font-size: 23px;
    line-height: 1.3;
  }
}

.card-point-content {
  margin: 0 30px;
}

.point-description-content {
  margin-bottom: 5px;
  opacity: 0.5;
  font-family: "Calibre-Regular";
  font-size: 15px;
  line-height: 1.33;
  color: $color_text;
  @include tablet-min-portrait {
    font-size: 17px;
    line-height: 1.2;
  }
}

.card-point-content {
  margin-left: 28px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -28px;
    top: 0;
    border-radius: 50%;
    box-shadow: 0 11px 14px 0 rgba(238, 142, 100, 0.23);
    background-color: $orange;
    background-image: url("/assets/img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .card-point-content-clarification {
    margin: 0;
    opacity: 0.5;
    font-family: "Calibre-Regular";
    font-size: 15px;
    line-height: 1.33;
    color: $color_text;
  }
}

.percentage {
  font-family: "Calibre-Bold";
  max-height: 60px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: $dark_gray;
  border-left: solid 1px $border_light;
  border-right: solid 1px $border_light;
  @include tablet-min-portrait {
    padding-bottom: 20px;
  }

  span {
    font-size: 30px;
    color: #b4b6c5;
    margin-left: -5px;
  }
}
.for-btn {
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border: solid 1px $border_light;
  border-top: none;
  border-radius: 0 0 30px 30px;
}

button {
  font-size: 17px;
  font-weight: bold;
  font-family: "Calibre-Bold";
  color: $white;
  background-color: $primary;
  border-radius: 30px;
  padding: 15px 40px 9px;
}


.plans-footer {
  position: relative;
  margin-top: 50px;
  padding: 0 30px 30px;
  border-radius: 30px;
  border: solid 1px $border_light;
  text-align: center;
  font-family: "Calibre-Regular";
  font-size: 17px;
  line-height: 1.47;
  color: $color_text;
  @include tablet-min-portrait {
    font-size: 23px;
    line-height: 1.3;
  }

  img {
    margin: 0 auto;
    position: relative;
    top: -30px;
    margin-bottom: -50px;
  }

  .footer-content {
    @include tablet-min-portrait {
      max-width: 770px;
      margin: 0 auto;
    }
  }
}

.desktop-top-left-corner {
  @include tablet-min-portrait {
    border-top-left-radius: initial;
  }
}

.desktop-top-right-corner {
  @include tablet-min-portrait {
    border-top-right-radius: initial;
  }
}

.desktop-bottom-left-corner {
  @include tablet-min-portrait {
    border-bottom-left-radius: initial;
  }
}

.desktop-bottom-right-corner {
  @include tablet-min-portrait {
    border-bottom-right-radius: initial;
  }
}

.hide-side-border {
  @include tablet-min-portrait {
    border-left: none;
    border-right: none;
  }
}

.shadowed-desktop {
  @include tablet-min-portrait {
    position: relative;

    &:before {
      box-shadow: -53px 0 106px 0 rgba(0, 0, 0, 0.03);
      content: " ";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 106px;
    }

    &:after {
      box-shadow: 53px 0 106px 0 rgba(0, 0, 0, 0.03);
      content: " ";
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 106px;
    }
  }
}
