<section class="plans">

    <div class="h4">Our Pricing</div>
    <h4>
        Home care costs matter.
    </h4>
    <div class="sub">
        Pay too much and you are losing valuable money that you will need for your home care services and your goods. Our pricing is simple and transparent - we make it easy to understand what you get for your money. 
        <br>
        No surprises. No hidden costs.
    </div>


    <div class="basic">
        <div class="wrapper">
            <div class="one card-plan plan-price">
                <h3>Basic Plan</h3>
                <div class="sub-plan">
                    What you get:
                </div>

                <div class="points">
                    <div class="point">
                        In-home Consultation and Set up
                    </div>
                    <div class="point">
                        Dedicated Care Manager
                    </div>
                    <div class="point">
                        Care Plan and Budget Development
                    </div>
                    <div class="point">
                        Ongoing Scheduling of Your Services
                    </div>
                    <div class="point">
                        Annual In-home Review
                    </div>
                    <div class="point">
                        Additional Extra Care Management Charged on Hourly Basis
                    </div>
                </div>

                <div class="percent">
                    19<span>%</span>
                </div>

                <div class="for-btn">
                    <button (click)="openDialog()" class="btn-contact" mat-flat-button>Choose this plan</button>
                </div>
            </div>

            <div class="two card-plan plan-price">
                <h3>On Tap Plan</h3>
                <div class="sub-plan">
                    What you get:
                </div>

                <div class="points">
                    <div class="point">
                        In-home Consultation and Set up
                    </div>
                    <div class="point">
                        Dedicated Care Manager
                    </div>
                    <div class="point">
                        Care Plan and Budget Development
                    </div>
                    <div class="point">
                        Ongoing scheduling of your services
                    </div>
                    <div class="point">
                        Annual In-home Review
                    </div>
                    <div class="point">
                        Full Access to Case Manager
                    </div>
                </div>

                <div class="percent">
                    24<span>%</span>
                </div>


                <div class="for-btn">
                    <button (click)="openDialog()" class="btn-contact" mat-flat-button>Choose this plan</button>
                </div>
                
            </div>
        </div>
    </div>

    <img src="/assets/img/plan-shield.svg">
    <div class="card-plan">
        <div class="plan-footer">
            Tend’s On Tap Plan is an on demand Care Management service without the extra charges. It gives you the assurance that you will have friendly professional advice from someone who knows you.
        </div>
    </div>
</section>
