<section class="plans">

    <div class="h4">Our Pricing</div>
    <h4>
        Home care costs matter.
    </h4>
    <div class="sub">
        Pay too much and you are losing valuable money that you will need for your home care services and your goods. Our pricing is simple and transparent - we make it easy to understand what you get for your money. 
        <br>
        No surprises. No hidden costs.
    </div>


    <div class="basic">
        <div class="wrapper">
            <div class="one card-plan plan-price">
                <h3>Basic Plan</h3>
                <div class="sub-plan">
                    What you get:
                </div>

                <div class="points">
                    <div class="point">
                        24-hour services, including all holidays and weekends
                    </div>
                    <div class="point">
                        Trained, screened and certified caregivers
                    </div>
                    <div class="point">
                        FREE in-home consultation
                    </div>
                    <div class="point">
                        FREE in-home consultation
                    </div>

                </div>

                <div class="percent">
                    18<span>%</span>
                </div>

                <div class="for-btn">
                    <button (click)="openDialog()" class="btn-contact" mat-flat-button>Choose this plan</button>
                </div>
            </div>

            <div class="two card-plan plan-price">
                <h3>On tap Plan</h3>
                <div class="sub-plan">
                    What you get:
                </div>

                <div class="points">
                    <div class="point">
                        24-hour services, including all holidays and weekends
                    </div>
                    <div class="point">
                        Trained, screened and certified caregivers
                    </div>
                    <div class="point">
                        FREE in-home consultation
                    </div>
                    <div class="point">
                        FREE in-home consultation
                    </div>
                    <div class="point">
                        FREE in-home consultation
                    </div>
                </div>

                <div class="percent">
                    21<span>%</span>
                </div>


                <div class="for-btn">
                    <button (click)="openDialog()" class="btn-contact" mat-flat-button>Choose this plan</button>
                </div>
                
            </div>
        </div>
    </div>

    <img src="/assets/img/plan-shield.svg">
    <div class="card-plan">
        <div class="plan-footer">
            Enjoy the Tend experience knowing that your packaged funds go further. Our simple cost structure and no fees is our way of ensuring your money is spent where you need it to be. No fees means more direct support hours available to you. This is our guiding principle, to maximise our direct service offering to you and other elders in our community.
        </div>
    </div>
</section>
