<section class="mobile-menu" (click)="onNoClick()">
    <div class="close">
        <span class="logo">
            <a routerLink="/">
                <img src="/assets/img/logo.jpg" alt="Logo">
            </a>
        </span>
        <img class="close-btn" src="/assets/img/blue-close.png" alt="" width="40" height="40">
    </div>
    <div class="nav">
        <a *ngFor="let menuLink of menuLinks$ | async"
            (click)="routeTo({ routePath: [menuLink.href], fragment: menuLink.fragment })"
        >{{ menuLink.anchor }}</a>
    </div>
    <div class="btn-wrapper">
        <button (click)="openDialog()" class="btn-contact" mat-flat-button>Contact Us</button>
    </div>
    <div class="phone">
        <img src="/assets/img/phone.png" height="34" width="34">
        1800 836 322
    </div>
</section>
