<section>
    <section class="about-column">
        <h1>About Us</h1>
        <img src="/assets/img/about/jeremy.png" alt="Jeremy Martin">
        <h2>Jeremy Martin</h2>
        <p>
            Jeremy’s drive to offer a positive difference in the aged care home care industry was sparked after searching for home care for his 80 year old father.  “People usually search for home care triggered by a stressful family situation and my experience was that the industry did little to initially alleviate that, ” says Jeremy. “It is near impossible to compare in-home care providers when they are all charging a range of extra fees. He realised that the industry needed to be revitalised through introducing a new approach to home care that provides transparency in regard to pricing, as well as information about who will deliver the care and the quality of care.  
            <br><br>
            Jeremy believes that the best business model for in-home care is one of full process ownership. “I soon realised the service provider needed to own the full experience” says Jeremy. “For us to fulfil a duty of care whilst offering a superior service, the care workers have to be Tend employees and the care recipients Tend clients.” 
            <br><br>
            He believes that technology will dramatically increase efficiencies, transparency and enhance the overall home care experience. “Most of our custom made technology works seamlessly behind the scenes, whilst also underpinning our quality service delivery. Our innovative technology is designed purely to enhance the Tend experience, largely through connectedness. Our client facing technology is optional- we are very conscious that our service is ultimately judged on who walks in the door and the care they deliver” says Jeremy. 
            <br><br>
            Jeremy was awarded a Japanese Government Monbusho Undergraduate Scholarship in 1991 and graduated from Kobe University with a Bachelor in Economics. He spent 20 years in Tokyo and Singapore working in various finance related roles including Managing Director roles at Lehman Brothers and Nomura Securities where he traded fixed income products and managed teams. 
        </p>

        <img src="/assets/img/about/jane.png" alt="Jane Lajoie">
        <h2>Jane Lajoie</h2>
        <p>
            “It’s about changing our thinking. If a client has a request, we need a ‘Can do’ response from the team. We need to push the boundaries in our new approach to client care, whilst promoting dignity of risk and enabling clients to flourish”
        </p>
        <br>
        <h2>Qualifications</h2>
        <p>
            Bachelor of Nursing, Graduate Diploma Neurosciences, Cert. IV Assessment and Workplace Training
            <br><br>
            Jane is thrilled to join Jeremy Martin and have the opportunity to bring her breadth of experience and skills from the health care and community health services sectors to Tend.  “The Tend team is inspired to offer our new and innovative approach to delivering compassionate, quality focused in-home aged care.   At Tend we strive to provide a service that promotes holistic well -being and connectedness for our elders, this underpins our service philosophy.”
            <br><br>
            Most recently, Jane held the position of National Operations Manager at Australian Home Care where she combined her managerial and business skills with clinical knowledge to support and manage services to over 2000 clients supported by 1400 Support Workers delivering close to 1 million service hours per year. Always challenging the service teams to have a clear understanding of ‘what great client-care looks like’ through the clients’ experience.
            <br><br>
            Other key appointments included: working with the Epworth Hospital’s Rehabilitation Unit in 1997, initially as a Clinical Nurse Specialist, and Nurse Unit Manager. In 2000 she was appointed Associate Operations Director of the Epworth’s Bethesda Rehabilitation Centre with responsibility for 100 nurses and 90 beds across road trauma, neuro-rehabilitation, orthopaedic rehabilitation medical and acute surgical. During this time her passion for supporting our ageing population with complex health issues developed.
            <br><br>
            Jane transferred these skills to the Community Service Sector in 2002 whereby she joined Australian Home Care Services as Business Development Manager, assisting clients’ transition to homecare. She subsequently spent some years as AHCS’s Clinical Service Advisor, providing service advice across Victoria and NSW based on her nursing and service management background
        </p>
        <br>
        <h2>Key achievements include; </h2>
        <p>Introducing and implementing the fully accredited Aged Care Consumer Directed Package Program at AHC  Organisation readiness for the 2017 National Aged Care Reforms Managing the delivery of quality Aged Care Services prior to and during the National Aged Care Reforms implementation phase supporting client informed choice about the types of services used. Organisation readiness for the NDIS disability reforms,  and assisting clients to transition safely and securely to this new scheme.</p>
        <br><br><br><br>
    </section>
    <app-get-in-touch></app-get-in-touch>
</section>