<section class="about-page tend-content-container">
  <h1>About Us</h1>
  <img src="/assets/img/about/jeremy.jpg" alt="Jeremy Martin">
  <h2>Jeremy Martin</h2>
  <p>
    My name is Jeremy Martin, and I am the founder and CEO of Tend.
  </p>
  <p>
    My journey in home care began back in 2016 when I was looking for home care solutions for my father. Like many people who are new to aged care, I found the experience stressful and overwhelming - for what I thought would be an uncomplicated service.
  </p>
  <p>
    I didn't know why home care was so expensive. I didn't understand why there were so many fees. I didn't understand why providers tried to hide their fees. I didn't understand why home care packages were so complicated.
  </p>
  <p>
    It left me with the impression that the providers were fully in control, and I was doing them a favour.
  </p>
  <p>
    And back then, they were fully in control.
  </p>
  <p>
    You see, the system was different from what it is today. Home care packages were allocated directly to providers, and seniors had to find providers who had the packages. Because providers held the packages, they had total control over what services you received and the prices you paid
  </p>
  <p>
    Luckily, this all changed in Feb 2017 when the government finally deregulated home care and allocated the home care packages directly to seniors with their Increased Choice in Home Care Legislation.
  </p>
  <p>
    It meant that seniors could choose a provider to host their home care package.
  </p>
  <p>
    It meant that seniors could easily change their home care providers if they were not happy.
  </p>
  <p>
    And it was the catalyst for the power to shift from providers to consumers.
  </p>
  <p>
    But this would take time. It was clear that providers could not just easily change their ways. They had had it good for too long, and as a result, they were very inefficient. They would struggle to reduce costs.
  </p>
  <p>
    Home care was also an industry that lacked a culture of "the client comes first." It was clear that Consumer Directed Care would need more than a change of mindset - it would mean they would have to change the very structure of their companies.
  </p>
  <p>
    It would take them years to adapt.
  </p>
  <p>
    I launched Tend in Jan 2018 to make a home care company that would put the consumer in control of their services, increase transparency, and provide cheaper home care costs.
  </p>
  <p>
    Over the last few years, we have cemented ourselves a pioneer in reducing home care costs. And not just lowering costs but making them easier to understand and making them transparent.
  </p>
  <p>
    When you sign up with Tend, you know what you are going to pay, and there are never any surprises or hidden charges.
  </p>
  <p>
    We are also known for our customer experience - we make home care easy. Providers will often talk about their quality in-home service, but few can boast of excellent customer service.
  </p>
  <p>
    At Tend, we will know you when you call the office. You will have easy to understand costing tools to work out your budget. You will have an easy-to-understand monthly statement. It's all these small things that make the whole home care experience easy.
  </p>
  <p>
    And our efforts have been noticed.
  </p>
  <p>
    In just our second year of operation, we worked in partnership with Alfred Health and Mepacs to deliver our rapid response service to more than 1300 elders living in the Southern Metropolitan Region. The Victorian State Government Personal Alert Victoria Program funded this service.
  </p>
  <p>
    And we were thrilled to be nominated as a Finalist at last year's Asia Pacific 7th Eldercare Innovation Awards for "Best Home Care Operator" in Asia.
  </p>
  <p>
    But I think our greatest achievement will be our latest initiative.
  </p>
  <p>
    And that was our decision, earlier this year, to focus solely on the management of Home Care Packages. I made this decision because I believe there should be a more evident divide between package providers and service providers.
  </p>
  <p>
    While everyone accepts that your package provider will also provide your in-home services, I think this is allowed because that's the way all the providers do it. It's a remnant of the old system where providers were in control.
  </p>
  <p>
    I don't think it is the future model of home care because that's not what Consumer Directed Care is all about, and it's just not in the best interests of the clients. It's a model that suits providers.
  </p>
  <p>
    Consumer Directed Care means that the consumer chooses, and for the consumer to choose, they need to choose.
  </p>
  <p>
    That means that the package provider should be offering their clients a choice rather than just their in-home services.
  </p>
  <p>
    Only then can Care Managers say that their advice is 100% independent and unbiased.
  </p>
  <p>
    And only then, through having access to a broader range of services and prices, can seniors genuinely get the most out of their home care package.
  </p>
  <p>
    I genuinely believe that this is the home care package model of the future.
  </p>
  <p>
    Jeremy Martin
  </p>
  <p>
    Founder & CEO
  </p>
  <p>
    Tend
  </p>
</section>
<app-get-in-touch></app-get-in-touch>
