@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.about-page {
  margin-bottom: 60px;
  @include tablet-min-portrait {
    margin-bottom: 150px;
  }
}

h1 {
  @include h1();
  color: $color_h;
  margin: 40px 0 20px;

  @include tablet-min-portrait {
    @include h1-desktop();
  }
}

img {
  max-width: 100%;
}

h2 {
  @include h2();

  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

p {
  @include sub();
  @include tablet-min-portrait {
    @include sub-desktop();
  }
}
