<section class="tend-container wide dashboard-wrapper">
  <h1>Blogs dashbord</h1>
  <app-blog-form></app-blog-form>

  <div *ngFor="let blog of blogs$ | async" class="articles-table-row">
    <div class="articles-table-data">{{blog.id}}</div>
    <div class="articles-table-data">{{blog.title}}</div>
    <div class="articles-table-data">
      <img src="{{ backEndURL }}/{{ blog.thumbnail }}" class="blog-thumbnail">
    </div>
    <div class="articles-table-data">{{blog.created | date:'longDate'}}</div>
    <div class="articles-table-data">{{blog.author}}</div>
    <div class="articles-table-data">
      <button (click)="edit(blog)" [disabled]="loading$ | async">Edit</button>
      <button (click)="delete(blog)" [disabled]="loading$ | async">Delete</button>
    </div>
  </div>
</section>
