.dashboard-wrapper {
  padding: 0 30px;
}

app-blog-form {
  display: block;
  margin-bottom: 50px;
}

.articles-table,
.articles-table-header,
.articles-table-data {
  border: 1px solid #dee3e2
}

.articles-table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.blog-thumbnail {
  width: 100%;
  max-width: 200px;
  max-height: 150px;
}
