<section class="faq-bg" id="faq">
    <div class="blog">
        <div class="h4">FAQ</div>
        <div class="sub">Frequenlty asked questions</div>

        <div class="gray-wrapper">
            <div class="question" [ngClass]="{expanded: question.isExpanded}" *ngFor="let question of questions">
                <h3>{{ question.question }}
                    <span (click)="toggleExpand(question)" class="minus">
                        <img *ngIf="!question.isExpanded" src="/assets/img/faq/faq-plus.svg" alt="Toggle" width="40" height="40">
                        <img *ngIf="question.isExpanded" src="/assets/img/faq/faq-minus.png" alt="Toggle" width="40" height="40">
                    </span>
                </h3>
                <div class="answer" *ngIf="question.isExpanded">
                    {{ question.answer }}
                </div>
            </div>
        </div>

    </div>
</section>
