@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.faq {
  margin-top: 60px;
}

h2 {
  @include h2();
  text-align: center;

  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

.sub {
  @include sub();
  margin-bottom: 25px;
  text-align: center;

  @include tablet-min-portrait {
    @include sub-desktop();
    margin-bottom: 50px;
  }
}

.gray-wrapper {
  position: relative;
  padding: 20px 10px 10px;
  background-color: $faq_bg_color;
  border-radius: 40px;
  @include tablet-min-portrait {
    padding: 60px 40px 40px;
  }

  &::before {
    content: "";
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: -60px;
    top: -60px;
    background-image: url("/assets/img/faq/faq-before.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    @include tablet-min-portrait {
      display: block;
    }
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    right: -60px;
    top: -60px;
    background-image: url("/assets/img/faq/faq-before.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    transform: scaleX(-1);
    @include tablet-min-portrait {
      display: block;
    }
  }
}

.question {
  padding: 0 20px;
  @include tablet-min-portrait {
    padding: 40px 60px 0;
  }

  &.expanded {
    padding: 20px 20px;
    background-color: $white;
    border-radius: 30px;
    margin-bottom: 20px;
    @include tablet-min-portrait {
      padding: 40px 60px;
    }
  }

  &:last-of-type {
    .devider {
      background-color: transparent;
    }
  }
}

.question-header {
  display: flex;
  margin-bottom: 15px;
}

h3 {
  flex: 1 auto;
  @include h3();
  font-size: 23px;
  @include tablet-min-portrait {
    margin-right: 50px;
    font-size: 33px;
    line-height: 1.1;
  }
}

.toggler {
  width: 30px;
  height: 30px;
  margin-right: -14px;
  cursor: pointer;
  @include tablet-min-portrait {
    margin-right: 0;
    width: 40px;
    height: 40px;
  }

  img {
    width: 30px;
    height: 30px;
    @include tablet-min-portrait {
      width: 40px;
      height: 40px;
    }
  }

  .minus {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 44px;
    font-size: 58px;
    text-align: center;
    color: $white;
    background-color: $orange;
    border-radius: 50%;

    @include tablet-min-portrait {
      width: 40px;
      height: 40px;
      line-height: 58px;
      font-size: 76px;
    }
  }
}

.answer {
  @include sub();
  transition: height .15s ease-in-out, opacity .15s ease-in-out;
  height: 0;
  opacity: 0;
  @include tablet-min-portrait {
    @include sub-desktop();
    margin-right: 40px;
  }

  &.opened {
    height: 100%;
    transition: height .15s ease-in-out, opacity .15s ease-in-out, padding-bottom .15s ease-in-out;
    opacity: 1;
  }
}

.devider {
  height: 1px;
  background-color: $hr_color;
  margin-bottom: 20px;

  &.invisible {
    background-color: transparent;
    margin-bottom: 0;
  }
}
