@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.faq-bg {
    background-image: url('/assets/img/faq/faq-bg02.png');
    background-position-y: 80px;
    background-position-x: 1156px;
    background-size: 97px 102px;
    background-repeat: no-repeat;
    @include mobile-only {
        background-image: none;
    }
}

.blog {
    margin: 0 0 40px 0;
    padding: 0 215px 0 215px;
    background-image: url('/assets/img/faq/faq-bg01.png');
    background-position-y: 80px;
    background-position-x: 150px;
    background-size: 97px 102px;
    background-repeat: no-repeat;
    @include mobile-only {
        width: unset;
        padding: 0 30px 0 30px;
        background-image: none;
    }

    .h4 {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 0;

        @include h4();
        @include mobile-only {
            font-size: 45px;
            margin-top: 20px;
        }
    }
    .sub {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 40px;

        @include sub();
        @include mobile-only {
            font-size: 17px;
            line-height: 25px;
            margin-bottom: 20px;
        }
    }
    .gray-wrapper {
        padding: 40px;

        background-color: $faq_bg_color;
        border-radius: 40px;
        @include mobile-only {
            padding: 10px;
        }
    }
    .question {
        padding: 40px 40px 0 40px;
        @include mobile-only {
            padding: 15px 20px 0 20px;
        }

        &.expanded {
            background-color: $white;
            border-radius: 30px;
        }
    }
    h3 {
        @include h3();
        margin-right: 50px;

        margin-top: 0;
        @include mobile-only {
            margin-right: unset;
            font-size: 23px;
            line-height: 24px;
            width: 170px;
        }

    }
    .toggler {
        float: right;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
            width: 40px;
            height: 40px;
            @include mobile-only {
                width: 30px;
                height: 30px;
            }
        }
        .minus {
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            color: $white;
            line-height: 58px;
            font-size: 76px;
            background-color: $orange;
            border-radius: 50%;

            @include mobile-only {
                width: 30px;
                height: 30px;
                line-height: 44px;
                font-size: 58px;
            }
        }
        @include mobile-only {
            position: relative;
            // top: -20px;
            right: -14px;
            width: 30px;
            height: 30px;
        }
    }
    .answer {
        @include sub();

        transition: height .15s ease-in-out, opacity .15s ease-in-out, padding-bottom .15s ease-in-out;
        height: 0;
        opacity: 0;
        margin-right: 116px;
        padding-bottom: 0;
        @include mobile-only {
            font-size: 17px;
            margin-right: 40px;
            padding-bottom: 0;
        }

        &.opened {
            height: 100%;
            transition: height .15s ease-in-out, opacity .15s ease-in-out, padding-bottom .15s ease-in-out;
            opacity: 1;
            padding-bottom: 40px;
            @include mobile-only {
              padding-bottom: 15px;
            }
        }
    }
}
