<section class="tend-content-container why-choose" id="why-choose">
  <div class="top-block">
    <div class="section-image">
      <img src="/assets/img/why-choose.jpg" alt="Why choose tend background image">
    </div>

    <div class="half-wide-content">
      <h2>Why choose Tend?</h2>
      <div class="sub">
        <p>The future of Home Care Packages is not one provider delivering all your services. It is you being able to access a wide range of service providers with professional advice.</p>
        <p>Tend is that future - we provide professional advice on what services you need and we provide 100% independent and unbiased advice on which providers will deliver the best service AND what you should be paying for those services.</p>
      </div>
    </div>
  </div>

  <div class="info" *ngFor="let item of items">
    <img [src]="item.image" [ngClass]="{'img-aligned': item.imageAligned}" />
    <h3>{{ item.title }}</h3>
    <p>{{ item.content }}</p>
  </div>

</section>
