<section class="why-choose" id="why-choose">

    <div class="h4">Why choose Tend?</div>
    <div class="sub">
        The future of Home Care Packages is not one provider delivering all your services. It is you being able to access a wide range of service providers with professional advice.
        <br><br>
        Tend is that future - we provide professional advice on what services you need and we provide 100% independent and unbiased advice on which providers will deliver the best service AND what you should be paying for those services. 
    </div>

    <div class="info">
        <img src="/assets/img/why-us/why-01.svg" />

        <h3>Low package costs and hourly rates of service </h3>
        <p>
            Other providers may offer a low package cost or low hourly rates of care but only Tend offers both. We combine our competitive package costs with the best prices for in home services.   Our home care service rates, for example, start at $49 - a good 10-20% cheaper than most other providers. Our clients know that quality in-home services don’t have to be expensive. 
        </p>
    </div>
    <div class="info">
        <img src="/assets/img/why-us/why-02.svg" height="25" />
        <h3>
            Care management expertise
        </h3>
        <p>
            At other providers, care managers just advise which services are right for you. At Tend, we give you choice, and so our care managers advise on what services are best for you and also which service providers would be best suited.  Through constant feedback from our clients, our Care Managers build up knowledge about all of our service providers. That expertise is something that only comes from exposure to different service providers and it only happens at Tend
        </p>
    </div>
    <div class="info last">
        <img src="/assets/img/why-us/why-03.svg" />
        <h3>
            Choice of leading service providers
        </h3>
        <p>
            Consumer Directed Care only happens when you are offered choice. We make that choice easy for you by sourcing the best in home services - whether it be home care or home cleaning or allied health or gardening. And while there are many great service providers out there, only a few can do it at the right price.
        </p>
    </div>
</section>
