<section class="why-choose" id="why-choose">

    <div class="h4">Why choose Tend?</div>
    <div class="sub">
        Our team is experienced in providing care for any home settings. We will work together with you to make sure you get the services you need. We’re hare to help with professional advice, funding access, care planning and compassionate care.
    </div>

    <div class="info">
        <img src="/assets/img/why-us/why-01.svg" />

        <h3>Low package costs and hourly rates of service </h3>
        <p>
            We believe that “Home care costs matter" and that good quality home care doesn’t have to be expensive. From our package costs to the hourly rates of our service provides, we ensure that you package goes further.  
        </p>
    </div>
    <div class="info">
        <img src="/assets/img/why-us/why-02.svg" height="25" />
        <h3>
            Care management expertise
        </h3>
        <p>
            Tend focuses solely on Home Care Packages we spend time researching and sourcing the best service providers for your needs. 
        </p>
    </div>
    <div class="info last">
        <img src="/assets/img/why-us/why-03.svg" />
        <h3>
            100% flexibility on your services offering 
        </h3>
        <p>
            We are one of the very few home care providers that can offer our clients 100% independent and unbiased advice on care services because we don’t provide home care services directly. 
        </p>
    </div>
</section>
