@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.blog {
  margin: 0 285px 40px 285px;
  @include mobile-only {
    font-size: 45px;
    margin: 0 30px 20px 30px;
  }
}

.h4 {
  margin: 50px 0 50px;
  @include h4();
  @include mobile-only {
    font-size: 45px;
    margin: 40px 0 20px 0;
  }
}
