@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.about-area {
    height: 744px;
    width: 1400px;
    display: inline-block;
    background-image: url('/assets/img/about-area.png');
    background-position-y: 134px;
    background-position-x: 215px;
    background-repeat: no-repeat;

    .h4 {
        width: 463px;
        height: 180px;
        position: relative;
        top: 242px;
        left: 715px;

        @include h4();
    }
    .sub {
        position: relative;
        top: 140px;
        left: 715px;
        width: 463px;
        height: 40px;

        color: $color_text;
        font-size: 23px;
        line-height: 1.3;
    }
    .for-btn {
        position: relative;
        top: 290px;
        left: 715px;
        width: 463px;
        height: 40px;
        button {
            font-size: 17px;
            font-weight: bold;
            color: $white;
            background-color: #49c3eb;
            border-radius: 30px;
            padding: 12px 40px;
        }
    }
}