@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.about-block {
  padding-top: 40px;
  margin-bottom: 60px;

  @include tablet-min-portrait {
    padding-top: 140px;
    margin-bottom: 150px;
  }
}

.top-block {
  display: flex;
  flex-direction: column;

  @include tablet-min-portrait {
    align-items: center;
    flex-direction: row;
  }
}

.section-image {
  max-width: 260px;
  margin: 0 auto;

  @include tablet-min-portrait {
    flex-basis: 50%;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }
}

.half-wide-content {
  @include tablet-min-portrait {
    flex-basis: 50%;
  }
}

h2 {
  @include h2();
  text-align: center;
  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

.sub {
  @include sub();

  @include tablet-min-portrait {
    @include sub-desktop();
  }
}

.for-btn {
  margin-top: 20px;
  text-align: center;
  @include tablet-min-portrait {
    margin-top: 30px;
    text-align: initial;
  }

  button {
    font-size: 17px;
    font-weight: bold;
    color: $white;
    background-color: $primary;
    border-radius: 30px;
    padding: 12px 40px;
  }
}
