<section class="tend-content-container about-block">
  <div class="top-block">
    <div class="section-image">
      <img src="/assets/img/about-us-img.jpg" alt="Why choose tend background image">
    </div>

    <div class="half-wide-content">
      <h2>About us</h2>
      <div class="sub">
        Through our founder's personal struggles with finding a
        home care provider for his father, Tend was launched to bring change to
        the home care industry. And "What the consumer would want" continues to
        drive our thinking today.
      </div>
      <div class="for-btn">
        <button routerLink="/about-us" class="btn-contact blue-hover" mat-flat-button>
          Learn more
        </button>
      </div>
    </div>
  </div>
</section>
