<section class="footer tend-container wide">
  <div class="footer-content tend-content-container">
    <h2>Get in touch</h2>
    <div class="sub">Share a few details about yourself and we'll be in touch shortly</div>
    <div class="for-btn">
      <button (click)="openDialog()" class="btn-contact white-hover" mat-flat-button>Contact Us</button>
    </div>
    <div class="terms">
      <a [routerLink]="['/terms-and-conditions']">Terms & Conditions - </a>
      <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
    </div>
  </div>
</section>
