@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.footer {
  min-height: 320px;
  padding-top: 20px;
  background-image: url('/assets/img/footer/footer-bg.jpg');
  background-position: center;
  background-size: cover;

  @include tablet-min-portrait {
    min-height: 442px;
    padding-top: 80px;
  }

  @include desktop-wide-min {
    background-image: url('/assets/img/footer/footer-bg@2x.jpg');
  }

  @include desktop-wide-min-2k {
    background-image: url('/assets/img/footer/footer-bg@3x.jpg');
  }
}

h2 {
  @include h2();
  text-align: center;
  color: $white;

  @include tablet-min-portrait {
    @include h2-desktop();
  }
}

.sub {
  @include sub();
  max-width: 440px;
  margin: 0 auto 20px;
  text-align: center;
  color: $white;

  @include tablet-min-portrait {
    @include sub-desktop();
    margin-bottom: 30px;
  }
}

.for-btn {
  text-align: center;

  button {
    font-size: 17px;
    font-weight: bold;
    color: $color_h;
    background-color: $white;
    border-radius: 30px;
    padding: 12px 40px;
  }
}

.terms {
  margin-top: 20px;
  text-align: center;
  @include tablet-min-portrait {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
