<section class="tend-content-container purpose-section" id="what-we-do">

  <div class="top-block">
    <div class="section-image">
      <img src="/assets/img/purpose.jpg" alt="What we do background image">
    </div>

    <div class="half-wide-content">
      <h2>What we do</h2>
      <div class="sub">
        <p>Tend specialises in the management of Australian Government Home Care Packages.</p>
        <p>Whether you want to "self-manage" or need full care management our flat fee of 17.5% allows you to use your Home Care Package as you want and get the care management that suits you.</p>
        <p>Our service allows you to be in full control of your Home Care Package while also enjoying the expertise and unbiased advice of our Professional Care Managers whenever you need it.</p>
      </div>
    </div>
  </div>

  <h3>Your personal Tend Care Managers will:</h3>
  <div class="list-wrapper">
    <div class="one">
      <ul>
        <li>work with you to design a care plan that reflects your needs and goals.</li>
        <li>make recommendations from our pool of leading service providers</li>
        <li>set up those services to fit your schedule.</li>
        <li>regularly check in and discuss any adjustments to your care plan</li>
      </ul>
    </div>
    <div class="two">
      <ul>
        <li>evaluate the effectiveness of your services and propose changes if necessary</li>
        <li>keep a close eye on your home care package funds and your budget</li>
        <li>ensure that you are getting the best prices for your services.</li>
      </ul>
    </div>
  </div>
</section>
