<section class="tend-content-container purpose-section" id="what-we-do">

  <div class="top-block">
    <div class="section-image">
      <img src="/assets/img/purpose.jpg" alt="What we do background image">
    </div>

    <div class="half-wide-content">
      <h2>What we do</h2>
      <div class="sub">
        <p>Tend specialises in the management of Australian Government Home Care Packages.</p>
        <p>Our unique all-inclusive service allows you to be in full control of your home care package while also enjoying the expertise and unbiased advice of our Professional Care Managers.  We advise you on what services would best fit your needs and goals and also the best service providers for those services.</p>
      </div>
    </div>
  </div>

  <h3>Your personal Tend Care Managers will:</h3>
  <div class="list-wrapper">
    <div class="one">
      <ul>
        <li>work with you to design a care plan that reflects your needs and goals.</li>
        <li>make recommendations from our pool of leading service providers</li>
        <li>set up those services to fit your schedule.</li>
        <li>regularly check in and discuss any adjustments to your care plan</li>
      </ul>
    </div>
    <div class="two">
      <ul>
        <li>evaluate the effectiveness of your services and propose changes if necessary</li>
        <li>keep a close eye on your home care package funds and your budget</li>
        <li>ensure that you are getting the best prices for your services.</li>
      </ul>
    </div>
  </div>
</section>
