@font-face {
    font-family: 'Calibre-Regular';
    src: url("/assets/CalibreRegular.otf");
}
@font-face {
    font-family: 'Calibre-Bold';
    src: url("/assets/CalibreBold.otf");
}
@font-face {
    font-family: 'Calibre-Medium';
    src: url("/assets/CalibreMedium.otf");
}