@use "sass:map";

@import 'variables';

// H4 class
@mixin h4() {
    color: $dark_gray;
    font-family: 'Calibre-Bold';
    font-size: 60px;
    font-weight: bold;
    line-height: normal;
}

@mixin h3() {
    font-family: 'Calibre-Bold';
    font-size: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $color_h;
}
@mixin h1() {
  margin: 0;
  font-family: 'Calibre-Bold';
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}

@mixin h1-desktop() {
  font-size: 60px;
}

@mixin sub() {
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: $color_text;
}

// mobile
$breakpoints-mobile: (
  min: 1px,
  max: 600px
);

$breakpoints-tablet: (
  min: 601px,
  max-portrait: 900px,
  min-portrait: 901px,
  max-landscape: 1200px,
  min-landscape: 1201px,
  max: 1200px
);

$breakpoints-desktop: (
  min: 1201px,
  max: 1400px
);

$breakpoints-destop-wide: (
  min: 1401px,
  2k-min: 2801px
);

// * Mobile phone rules width < 600px
@mixin mobile-only {
  @media (max-width: map-get($breakpoints-mobile, "max") ) {
    @content;
  }
}

// * Tablet rules width > 601px
@mixin tablet-min {
  @media (min-width: map-get($breakpoints-tablet, "min") ) {
    @content;
  }
}

// * Tablet rules width > 901px
@mixin tablet-min-portrait {
  @media (min-width: map-get($breakpoints-tablet, "min-portrait") ) {
    @content;
  }
}

// * Tablet rules width < 900px
@mixin tablet-max-portrait {
  @media (max-width: map-get($breakpoints-tablet, "max-portrait") ) {
    @content;
  }
}

// * Tablet rules width > 1201px
@mixin tablet-min-landscape {
  @media (min-width: map-get($breakpoints-tablet, "min-landscape") ) {
    @content;
  }
}

// * Tablet rules width < 1200px
@mixin tablet-max-landscape {
  @media (max-width: map-get($breakpoints-tablet, "max-landscape") ) {
    @content;
  }
}

// * Tablet rules width > 1201px
@mixin desktop-min {
  @media (min-width: map-get($breakpoints-desktop, "min") ) {
    @content;
  }
}

// * Tablet rules width > 1401px
@mixin desktop-wide-min {
  @media (min-width: map-get($breakpoints-destop-wide, "min") ) {
    @content;
  }
}

// * Tablet rules width > 1401px
@mixin desktop-wide-min-2k {
  @media (min-width: map-get($breakpoints-destop-wide, "2k-min") ) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints-mobile, "min")) {
    @content;
  }
}
@mixin desktop-only {
  @media (min-width: map-get($breakpoints-tablet, "min")) {
    @content;
  }
}
