<header class="tend-container">
  <app-back-button></app-back-button>
  <div class="title tend-content-container">
    <h1 *ngIf="blog">{{ blog.title }}</h1>
  </div>
</header>

<section *ngIf="blog" class="tend-content-container">
  <div class="blog-date">{{ blog.created | date:'longDate' }}</div>
  <img class="main-image" [src]="blog.image" />
  <div class="author">{{ blog.author || 'Unnamed author' }}</div>
  <div class="dynamic-blog-content" [innerHTML]="blog.content"></div>
  <hr />
  <div class="blog-footer">
    <div class="blog-date">{{ blog.created | date:'longDate' }}</div>
    <div class="social-share">
      <div class="share-description">Share</div>
      <app-share-buttons></app-share-buttons>
    </div>
  </div>
</section>

<footer>
  <app-get-in-touch></app-get-in-touch>
</footer>
